__pycache__
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# local database
/backend/database/dev/
# test database
/backend/database/test/