---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
// import DropDownCheckbox from '../../components/DropDownCheckbox/DropDownCheckbox.astro';
import DropDownCheckbox from '../../components/DropDownCheckbox/DropDownCheckbox.jsx';
---

<LayoutSidebar>
    <div class="format dark:format-invert lg:format-lg mt-32">
        <p
            class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight text-center"
        >
           <br>
            <a
                rel="noopener nofollow"
                class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
                >Existing Solutions</a
            >
        </p>
		
		<DropDownCheckbox filterType={'Type'} targetId={'type'} data={['Note taking', 'Budget Tracker', 'Planners', 'Studying']} dataId={'openType'} client:idle/>
		<br>
		<DropDownCheckbox filterType={'Money'} targetId={'money'} data={['Fee', 'Membership', 'Single pay', 'Free trial']} dataId={'openMoney'} client:idle/>
		<br>
		<DropDownCheckbox filterType={'Other'} targetId={'other'} data={['testing']} dataId={'openOther'} client:idle/>

			
</LayoutSidebar>



