---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import DropDownCheckbox from '../../components/DropDownCheckbox/DropDownCheckbox.jsx';
import Grid from '../../components/Grid.jsx';
import spotifyIcon from '../../images/spotifyIcon.png';
import cheggIcon from '../../images/cheggIcon.png';
import quizletIcon from '../../images/quizletIcon.png';
---

<LayoutSidebar>
    <div class="format dark:format-invert lg:format-lg mt-32">
        <p
            class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight text-center"
        >
           <br>
            <a
                rel="noopener nofollow"
                class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
                >Existing Solutions</a
            >
        </p>
			<!-- Filter section -->
		<div class="filters"></div>
			<h2 class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline">
				Filters:
			</h2>
			<DropDownCheckbox filterType={'Type'} targetId={'type'} data={['Note taking', 'Budget Tracker', 'Planners', 'Studying']} dataId={'openType'} client:idle/>
			<br>
			<DropDownCheckbox filterType={'Money'} targetId={'money'} data={['Fee', 'Membership', 'Single pay', 'Free trial']} dataId={'openMoney'} client:idle/>
			<br>
			<DropDownCheckbox filterType={'Other'} targetId={'other'} data={['testing']} dataId={'openOther'} client:idle/>
		</div>		
	<!-- Grid for apps section -->
		<Grid imgLink={spotifyIcon} appLink={'https://open.spotify.com/'} description={"dis be spotify for musci and podcasts :)\n"} name={"Spotify1"} client:load/>
		<Grid imgLink={cheggIcon} appLink={'https://www.chegg.com/'} description={"Copiate en todo, con solo $20 al mes\n"} name={"Chegg1"} client:load/>
		<Grid imgLink={quizletIcon} appLink={'https://quizlet.com/'} description={"lo mejor pa estudiar\n"} name={"Quizlet1"} client:load/>

		<Grid imgLink={spotifyIcon} appLink={'https://open.spotify.com/'} description={"test\n"} name={"test"} client:load/>
	</div>
</LayoutSidebar>

