---
import LayoutSidebar from '../../app/LayoutSidebar.astro';

import ScholarshipList from '../../components/ScholarshipList.jsx';

---
<LayoutSidebar>
  <div class="format dark:format-invert lg:format-lg mt-8 pl-4">
    <h1 class="text-4xl lg:text-6xl dark:text-slate-200 text-slate-600 leading-tight mb-4">
      Welcome to <span class="font-bold text-pink-600">Scholarship Tracker</span>
    </h1>

    <p class="text-lg dark:text-slate-200 text-slate-600 mb-6">
      Track and manage your scholarships with ease. Stay organized and never miss a deadline.
    </p>

    <div class="mb-4 pl-4">
      <p class="text-sm dark:text-slate-200 text-slate-600 mb-2">
        Below, you will find your current scholarships that you have set to be tracked.
        Remember to update your scholarships regularly for accurate data.
      </p>
    </div>

    <div class="mb-8 pl-4">
      <ScholarshipList client:load />
    </div>
  </div>
</LayoutSidebar>

<!-- <script >
	import { url } from "../../lib/data";
	import { isLoggedIn } from '../../lib/profile';
	
			// If the "auth_token" cookie is not found, redirect to the sign-in page
		if (isLoggedIn.get() == "false") {
			window.location.href = url('authentication/sign-in');
		}
	
	</script> -->
