---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import ExportCalendarButton from '../../components/ExportCalendarButton.jsx';
---

<LayoutSidebar>
    <div class="format dark:format-invert lg:format-lg mt-32">
        <p
            class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight text-center"
        >
           <br>
            <a
                rel="noopener nofollow"
                href="https://github.com/uprm-inso4116-2023-2024-S1/semester-project-college-toolbox"
                class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
                >Tuition Scheduler</a
            >
						<ExportCalendarButton courses={[2191,1378,1334]} term='1erSem' client:load />
        </p>
</LayoutSidebar>
