---
import LayoutStacked from '../../app/LayoutStacked.astro';
import LoginForm from '../../components/LoginForm.jsx';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<LoginForm client:load />
	</div>
</LayoutStacked>
