---
import LayoutStacked from '../../app/LayoutStacked.astro';
import SignUpForm from '../../components/SignUp.jsx';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<SignUpForm client:load />
	</div>
</LayoutStacked>
