---
import Layout from '../layouts/Layout.astro';

import WackNavBar from '../components/WackNavBar.astro'

import Card from '../components/Card.astro';
---

<Layout title="Toolbox">
	<main class = "mainDiv">

		<WackNavBar
			title = "dummy"
			body = "dummy2"
		/>

		<img src="./Overview.png" alt="rip" style = "width:1000px;height:700px">

	</main>
</Layout>

<style>

</style>
