.add-scholarship-section {
	background-color: #f0f0f0; /* Set your desired background color */
	padding: 20px; /* Adjust the padding as needed */
	border-radius: 8px; /* Optional: Add rounded corners */
}

.input-field {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.add-button {
	background-color: #4caf50; /* Set your desired button color */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

.cancel-button {
	background-color: #f44336; /* Set your desired button color */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Remove Confirmation Modal */
.remove-confirmation-modal {
	padding: 10px;
	margin-top: 10px;
}

.remove-confirmation-modal p {
	margin-bottom: 10px;
}

.remove-confirmation-modal button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-right: 10px;
	cursor: pointer;
}

.remove-confirmation-modal button:last-child {
	margin-right: 0; /* Remove margin from the last button */
}

/* Add margin to Cancel button */
.remove-confirmation-modal .cancel-button {
	margin-right: 10px;
}
/* ScholarshipList.css */
.counter-section {
	justify-content: space-between; /* Add space between items */
	margin-bottom: 10px; /* Add margin at the bottom */
}

.counter-item {
	margin-right: 10px; /* Add margin to the right of each counter */
}

/* Add styling for the filter-section */
.filter-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px; /* Adjust the width as needed */
}

.filter-section label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-section select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Add some spacing between the filter and the add button */
.add-button {
  margin-top: 10px;
}
