$container-width: 100%; // You can adjust this as needed
$container-height: 100%; // You can adjust this as needed

$title-height: 3em;
$days-height: 3em;
$time-width: 4em;
$time-height: 2em;
$grid-color: #dadce0;
$calendar-template: $time-width 10px repeat(7, 1fr);
$current-time-color: #ea4335;

.weeklyCalendar {
	display: flex; /* Use flexbox to make sure children fill the container */
	height: 100%;
	justify-content: center;
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

.container {
	flex: 1;
	width: 100%;
	display: grid;
	grid-template-rows: $title-height $days-height auto;
}

.title {
	background: #217346;
	text-align: center;
	display: grid;
	place-content: center;
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
}

.days {
	background: #f3f2f1;
	display: grid;
	place-content: center;
	text-align: center;
	grid-template-columns: $calendar-template;
	position: sticky;
	top: $title-height;
	z-index: 10;
	border-bottom: 2px solid $grid-color;
}

.day {
	border-left: 1px solid $grid-color;
}

.content {
	display: grid;
	grid-template-columns: $calendar-template;
	grid-template-rows: repeat(
		18 * 2 + 1,
		$time-height
	); // Change the number of rows to accommodate 30-minute increments
}

.time {
	grid-column: 1;
	text-align: right;
	align-self: end;
	font-size: 80%;
	position: relative;
	bottom: -1ex;
	color: #70757a;
	padding-right: 2px;
}

.col {
	border-right: 1px solid $grid-color;
	grid-row: 1 / -1;
	grid-column: span 1;
}

.filler-col {
	grid-row: 1 / -1;
	grid-column: 2;
	border-right: 1px solid $grid-color;
}

.row {
	grid-column: 2 / -1;
	border-bottom: 2px solid $grid-color;
	position: relative;
}

.event {
	z-index: 1;
	background-color: #b3e1f7;
	border-color: #81cdf2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 70%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	&:hover {
		cursor: pointer;
	}
}
.start {
	z-index: 2;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.end {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.weekend {
	background-color: #f1f3f4;
}

.current-time {
	z-index: 3;
	border-top: 2px solid $current-time-color;
	position: relative;
}

.circle {
	width: 12px;
	height: 12px;
	border: 1px solid $current-time-color;
	border-radius: 50%;
	background: $current-time-color;
	position: relative;
	top: -6px;
	left: -6px;
}

.current {
	font-weight: bold;
}
